<article id="leads">
  <h1>Leads</h1>
  <p>
    {{#link-to 'leads.new'}}
      New Lead
    {{/link-to}}
  </p>
  {{view Ember.TextField value=search placeholder="search" classNames="search"}}
  <ul>
    {{#each lead in leads}}
      {{#link-to 'lead' lead tagName='li'}}
        {{lead.fullName}}
      {{/link-to}}
    {{/each}}
  </ul>
</article>

{{outlet}}
